<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.geekyrss">
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET" /> 

    <application android:icon="@drawable/icon" android:theme="@android:style/Theme.NoTitleBar">
        <activity  android:name="com.android.geekyrss.FeedsList" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".URLEditor" android:label="@string/url_editor" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".ShowContent" android:label="@string/content" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".ArticlesList" android:label="@string/articles_list" android:theme="@android:style/Theme.NoTitleBar"/>
         <activity android:name=".FeatureList" android:label="@string/feature_title" android:theme="@android:style/Theme.NoTitleBar"/>
         <activity android:name=".wordlist" android:label="@string/words_title" android:theme="@android:style/Theme.NoTitleBar"/>
        <service android:name="BackgroundService" />  
    </application>
</manifest> 